<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Calling all highschool graduates!</h2>
                <hr class="light">
                <p class="text-faded">Here at Mentors Plus, we provide summer review courses for college entrance exam reviews. We ensure to make the most out of your summer and gaurantee your future.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

