<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome To The Registration Site</h1> 
            <hr>
            <p>Your journey begins here.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">get started</a>
        </div>
    </div>
</header>

