<body style="background-color: #e8e8e8;">

<h1 style="background-color: #0374b5; color: #ffffff; margin: 0px; padding: 0px; text-align: center;"><b>New Period</b></h1>

<br><br><div style="text-align:center; font-family: Helvetica Neue, Helvetica, Arial; font-size: 20px; border: 5px solid #0374b5; width: 500px;height: 120px; position: absolute;left: 420px; top: 150px;padding-top: 10px;"><%= render 'form', period: @period %></div>

<button class="btn btn-info" style="position: absolute;  bottom: 300px; right: 650px; color: #ffffff;"><%= link_to 'Back', periods_path %></button>

</body>
