

<h1 style="font-family: Helvetica Neue, Helvetica, Arial; text-align: center; background-color: #0374b5; margin: 0px; padding: 0px; color: #ffffff;border-style: solid; border-width: 1px; border-color: #0374b5;"><b>Student Enlistment</h1>

<br><br><br><br><br><br>
<div class = "container">
  <div class = "panel-group" id = "accordion" aria-multiselectable="true">
  <div class = "panel panel-default">
    <div class = "panel-heading">
      <h2 class = "panel-title">
        <a href="#collapseone" data-toggle="collapse" data-parent = "accordion">
        List of Classes Offered</a>
       
  </div>
  <div id ="collapseone" class="panel-collapse collapse in">
    <div class = "panel-body">

        <table width="70%", align="left">
            <tr>
              <th>Class ID</th>
              <th>Venue Address</th>
              <th>Time Start</th>
              <th>Time End</th>
              <th>Date Inclusive</th>
              </tr>        
              </table>
    </div>
      </div>
      </div>
      </div>
      </div>

   
<div class = "container">
  <div class = "panel-group" id = "accordion">
  <div class = "panel panel-default">
    <div class = "panel-heading">
      <h2 class = "panel-title">
        <a href="#collapsetwo" data-toggle="collapse" data-parent = "accordion">
        List of Packages Offered</a>
        </h4>
  </div>
  <div id ="collapsetwo" class="panel-collapse collapse">
    <div class = "panel-body">


      <table width="100%", align="left">
        <tr>
            <th>Name</th>
            <th>Package Type</th>
            <th>Initial Price</th>
        
        </tr>
        
            <% @packages.each do |a| %>
       
            <% end %>
        
    </table>

        </div>
        </div>
        </div>
        </div>
        </div>

  <div class = "container">
  <div class = "panel-group" id = "accordion">
  <div class = "panel panel-default">
    <div class = "panel-heading">
      <h2 class = "panel-title">
        <a href="#collapsethree" data-toggle="collapse" data-parent = "accordion">
        Subject List</a>
        </h4>
  </div>
  <div id ="collapsethree" class="panel-collapse collapse">
    <div class = "panel-body">

      <table width="70%", align="right">
        <tr>
        <th>Algebra</th>
        <th>Geometry</th>
        <th>Trigonometry</th>
        <th>Biology</th>
        </tr>
        </table>

        <table width="70%", align="center">
        <tr>
        <th>Chemistry</th>
        <th>Physics</th>
        <th></th>
        <th></th>
        <th>Earth Science</th>
        <th>Vocabulary</th>
        </tr>
        </table>

        <table width="70%", align="right">
        <tr>
        <th></th>
        <th></th>
        <th>Grammar</th>
        <th>Reading Comprehension</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Filipino</th>
        <th></th>
        <th></th>
        <th>Abstract and Logical Reasoning</th>
        </tr>
        </table>


        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

</body>



<button class="btn btn-default" style="position: absolute;  top: 100px; right: 500px; color: #ffffff;"><%= link_to("Start Enlistment", new_student_path) %></h7></button>

<button class="btn btn-default" style="position: absolute;  top: 100px; right: 700px; color: #ffffff;"><%= link_to("Back To Home", root_path) %></h7></button>




