<h1 style="text-align:center"> MentorsPlus </h1>



<table width="70%", align="center">
  <tr>
    <th>Position</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nickname</th>
    <th>Slogan</th>
  </tr>
</table>


<%= link_to("Back to Home", root_path) %>