<h1 style="text-align:center"> MentorsPlus </h1>



<h7> 
  MentorsPlus is a tutoring center in Katipunan that caters to teaching students 
  varying from preschool to college students. It expertly serves students from 
  Ateneo de Manila University, Miriam College, the PAREF schools, SHS and other 
  nearby schools in the area. The tutoring center is well-known for its high-quality 
  tutoring on a regular basis with their students and their yearly summer review session 
  for the upcoming entrance tests in different universities. Being one of the most 
  well-known tutoring centers in Katipunan, they aim to cater everyone wishing to enroll 
  for their tutoring services for the summer review sessions before the college entrance 
  tests season. However, despite the high demand of their tutoring services for the summer 
  review, they also offer tutoring services for different subjects such as mathematics, biology, 
  english for different students.
</h7>
<br>
<br>

<h7><%= link_to("Start Enlistment", new_student_path) %></h7>